body{
    user-select: none;
    background-image: url(background2.jpg);
    background-size: 100%;
    font-family: 'Bahnschrift';
    font-size: 25px;
    color: white;
    cursor: default;
}
#box{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#logo1{
    width: 400px;
    animation: logo 5s infinite;
}
#button{
    background-color: rgb(0, 107, 153);
    padding: 6px;
    outline: 3px rgb(0, 231, 249) solid;
    border-radius: 5px;
    transition: 0.3s;
}
#button:hover{
    background-color: rgb(146, 28, 138);
    outline-color: rgb(232, 46, 251);
}
#toolbar{
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(100, 100, 100, 0.3);
    transition: 0.2s;
}
@keyframes logo{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}
#content{
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    outline: 3px white solid;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 30px;
    text-align: justify;
    backdrop-filter: blur(3px);
}
#bold-line{
    height: 60px;
    background-image: url(80slines.png);
    background-position: center;
    background-size: 100%;
    opacity: 0.5;
    transform: scaleX(1.053);
}
#author{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    outline: 3px white solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 15px 15px;
    margin-top: 20px;
    font-size: 15px;
    backdrop-filter: blur(3px);
}
#table-track{
    width: 100%;
    border: 3px white solid;
    border-radius: 15px;
}
#photo-track{
    background-position: center;
    background-size: 100%;
    background-color: gray;
    height: 200px;
    width: 200px;
    margin: 10px;
    outline: 3px rgb(0, 231, 249) solid;
    border-radius: 10px;
    transition: 0.3s;
    animation: outline-colors 3s infinite ease-in-out;
}
@keyframes outline-colors {
    0%{outline-color: rgb(0, 231, 249);}
    50%{outline-color: rgb(255, 255, 255);}
    100%{outline-color: rgb(0, 231, 249);}
}

#photo-track:hover{
    background-size: 120%;
    backdrop-filter: blur(3px);
}
#track-option{
    height: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    backdrop-filter: blur(3px) grayscale(1);
    background-color: rgba(146, 28, 138, 0.2);
    outline: 3px rgb(232, 46, 251) solid;
    text-shadow: 0px 0px 3px #000, 0px 0px 3px #000;
    transition: 0.3s;
    opacity: 0;
}
#photo-track:hover #track-option{
    opacity: 1;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.1s;
}
a:hover{
    color: lightgrey;
}
td{
    font-size: 20px;
    text-align: center;
}
hr{
    opacity: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}
@keyframes moving {
    0%{transform: translate3d(0px, 0, 0);}
    50%{transform: translate3d(5px, 0, 0);}
    100%{transform: translate3d(0px, 0, 0);}
}
#aud-button{
    height: 35px;
    transition: 0.2s;
}
#aud-button:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
}
#play-track{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    height: 80px;
    width: 640px;
    background: linear-gradient(90deg, rgba(0,231,249, 0.2) 0%, rgba(232,46,251, 0.2) 100%);
}